<h3>What would you like to research?</h3>
<form action="/search" method="POST">
  <label>-Query-
    <br>
    <input type="text" name="search[search_query]" placeholder="search query">
  </label>
  <br>
  <br>
  <label>-Minimum Price-
    <br>
    <input type="text" name="search[min_price]" placeholder="minimum price">
  </label>
  <br>
  <br>
  <label>-Maximum Price-
   <br> 
    <input type="text" name="search[max_price]" placeholder="maximum price">
  </label>
  <br>
  <br>
  <label>-Location-
     <br>
  <select name="search[keyword]">
    <% @locations_hash.keys.each do |key| %>
    <option value="<%= key %>"><%= @locations_hash[key] %></option>
    <% end %>
  </select>
  </label>
  <br>
  <br>
  <input type="submit" value="RESEARCH" />
</form>