<!DOCTYPE html>
<html>
  <head>
    <title>AfterMarket Research</title>
    <meta charset="utf-8">
  </head>

  <body>
    <h1>AfterMarket Research</h1>
    <br>
    <%= yield %>
    <p><a href="/">New Search</a></p>
    <br>
    <p>Copyright 2014 <a href="http://www.github.com/kronosapiens">Daniel Kronovet</a>, w/ Respect and Appreciation for the <a href="http://flatironschool.com">Flatiron School</a> and <a href="http://newyork.craigslist.org/">Craigslist NY</a>.</p>
  </body>
</html>