<!DOCTYPE html>
<html lang="en">
  <head>
    <title>AfterMarket Research</title>
    <meta charset="utf-8">
  <link rel="stylesheet" href="/stylesheets/style.css">

  </head>

  <body>
    <div id="search_box">
    <h1>AfterMarket Research</h1>
    <p>-----------------------------------------------------</p>
    <%= yield %>
    <p>-----------------------------------------------------</p>
    <p><a href="/">New Search</a></p>
  </div>
    <footer>Copyright 2014 <a href="http://www.github.com/kronosapiens">Daniel Kronovet</a> <br>
      With thanks to <a href="http://flatironschool.com">Flatiron School</a> and <a href="http://newyork.craigslist.org/">Craigslist NY</a></footer>
  </body>
</html>